.body {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
}

.card {
  background-color: whitesmoke;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s;
}
.car:hover {
  transform: scale(1.1);
}
.card.flipped {
  background-color: antiquewhite;
  cursor: default;
}
.hidden {
  visibility: hidden;
}
.card.flipped {
  background-color: aliceblue;
  cursor: default;
}
